.lineer {
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
}

.leon {
  top: -26px;
}

.sky {
  top: 60%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.icon--lineer {
  background: rgb(63, 94, 251);
  background: -moz-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3f5efb",endColorstr="#fc466b",GradientType=1);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.that {
  font-size: 3rem;
}

.business {
  padding-left: 2rem;
}

.pink {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.purple {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.img-section {
  padding: 220px 0;
  background-image: url("https://images.unsplash.com/photo-1620912189865-1e8a33da4c5e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=800&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY4MTg1MDA1Ng&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1500");
  background-size: cover;
  background-position: center;
  position: relative;
}

.img-section::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}
.img-section .text {
  font-size: 64px;
  line-height: 80px;
  color: #fff;
}

.img-section-content {
  z-index: 20;
  position: relative;
}

.flow {
  height: 3rem;
}

.blue {
  bottom: 10px;
  left: 5px;
}

.black {
  top: 30px;
  right: 5px;
}
.cheepy {
  padding: 100px 0;
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 500;
}

footer {
  color: #666;
}

.list a {
  text-decoration: none;
  color: #666;
}

.list a:hover {
  color: white;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .sky {
    top: 60%;
    left: 30%;
    display: none;
    transform: translate(-50%, -50%);
  }

  .blue {
    bottom: 10px;
    left: 5px;
    width: 20px;
    height: 20px;
  }

  .black {
    top: 30px;
    right: 5px;
    width: 20px;
    height: 20px;
  }
}

.buttons a {
  text-decoration: none;
}

@media (max-width: 998px) {
  .look {
    text-align: center;
  }
}

.great {
  margin-right: 13px;
}

.small {
  font-size: 0.875em;
}

@media (max-width: 773px) {
  .great {
    margin-right: 2px;
  }
}
